/*
General style sheet
Copyright Boonleng Cheong
*/

/* Some common colors */
:root {
  --padding: 20px;
  --half-padding: 10px;
  --base-size: 14;
  --background-color: rgb(0, 111, 146);
  --background-color-translucent: rgba(0, 92, 121, 0.72);
  --background-secondary: rgba(0, 20, 27, 0.85);
  --topbar-height: 56px;
  --tabbar-height: 48px;
  --dev-background-gradient: linear-gradient(180deg, #047267 67%, #162a28);
  box-sizing: border-box;
}

[theme="light"] {
  --ui-border: solid 0.5px rgba(0, 0, 0, 0.25);
  --border-accent: rgba(0, 0, 0, 0.25);
  --hover-overlay: rgba(0, 0, 0, 0.1);
  --blue: rgb(0, 122, 255);
  --brown: rgb(162, 132, 94);
  --cyan: rgb(50, 173, 230);
  --green: rgb(52, 199, 89);
  --indigo: rgb(88 86, 214);
  --mint: rgb(0, 199, 190);
  --orange: rgb(255, 149, 0);
  --pink: rgb(255, 45, 85);
  --purple: rgb(175, 82, 222);
  --red: rgb(255, 59, 48);
  --teal: rgb(48, 176, 199);
  --yellow: rgb(255, 204, 0);
  --gray: rgb(128, 128, 128);
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);
  --gray7: rgb(252, 252, 255);
  --system-foreground: #000000;
  --system-background: #ffffff;
  --secondary-system-background: #f2f2f7ff;
  --tertiary-system-background: #ffffffff;
  --overlay-background: #ffffffe8;
  --button-hover: rgba(0, 0, 16, 0.06);
  --map-background: #f9f5ed;
  --preference-background: rgba(249, 245, 237, 0.8);
  --background-gradient: linear-gradient(180deg, transparent 60%, #4f7d9c);
}

[theme="dark"] {
  --ui-border: solid 0.5px rgba(255, 255, 255, 0.15);
  --border-accent: rgba(255, 255, 255, 0.25);
  --hover-overlay: rgba(255, 255, 255, 0.15);
  --blue: rgb(10, 132, 255);
  --brown: rgb(172, 142, 104);
  --cyan: rgb(100, 210, 255);
  --green: rgb(48, 209, 88);
  --indigo: rgb(94, 92, 230);
  --mint: rgb(102, 212, 207);
  --orange: rgb(255, 159, 10);
  --pink: rgb(255, 55, 95);
  --purple: rgb(191, 90, 242);
  --red: rgb(255, 69, 58);
  --teal: rgb(64, 200, 224);
  --yellow: rgb(255, 214, 10);
  --gray: rgb(128, 128, 128);
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(99, 99, 102);
  --gray3: rgb(72, 72, 74);
  --gray4: rgb(58, 58, 60);
  --gray5: rgb(44, 44, 46);
  --gray6: rgb(28, 28, 30);
  --gray7: rgb(16, 16, 18);
  --system-foreground: #ffffff;
  --system-background: #222328;
  --secondary-system-background: #1c1c1eff;
  --tertiary-system-background: #2c2c2eff;
  --overlay-background: #1e1e1ee8;
  --button-hover: rgba(248, 248, 255, 0.15);
  --map-background: #22252a;
  --preference-background: rgba(34, 37, 42, 0.8);
  --background-gradient: linear-gradient(180deg, transparent 60%, #16222a);
}

@font-face {
  font-family: LabelFont;
  font-style: normal;
  src: url(/static/fonts/HelveticaNeueMed.ttf) format("truetype");
}

@font-face {
  font-family: TextFont;
  font-style: normal;
  src: url(/static/fonts/HelveticaNeueLt.ttf) format("truetype");
}

body,
html {
  margin: 0;
}

html {
  background-color: var(--background-color);
  font-family: -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  color: var(--system-foreground);
  background: var(--map-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  font-family: LabelFont, Helvetica, Arial;
  position: relative;
}

.fill {
  height: 100%;
  position: relative;
  width: 100%;
}
.paper {
  background-color: var(--system-background);
}
.backgrad {
  background: var(--background-gradient);
}
.content {
  color: white;
  position: absolute;
  text-align: center;
  top: 25vh;
  width: 100%;
}
.sheet {
  background-color: var(--system-background);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  color: var(--system-foreground);
  display: block;
  margin: 20vh auto 0 auto;
  max-height: 75%;
  max-width: 100%;
  overflow-y: scroll;
  text-align: center;
  width: 900px;
}
.sheetContent {
  padding-left: 80px;
  padding-right: 80px;
}
.subtitle {
  font-size: 1.5em;
  line-height: 1.8em;
}
.message {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 28pt;
  font-weight: 200;
  margin: 20px auto;
  line-height: 40pt;
  padding: 0 100px;
}
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
.container {
  position: relative;
  z-index: 1;
}
.flexRow {
  display: flex;
  flex-direction: row;
  background-color: var(--gray6);
  overflow-y: hidden;
}
.flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hide {
  opacity: 0;
}
.center {
  text-align: center;
}
.leftPadded {
  padding-left: var(--padding);
}
.invisible {
  display: none !important;
}
.roundCorder {
  border-radius: 5px;
}
.fadeIn {
  opacity: 1;
  transition: opacity linear 0.12s;
}
.fadeOut {
  opacity: 0;
  transition: opacity linear 0.3s;
}
.sectionHeader {
  background-color: var(--gray6);
  height: 24px;
  padding: var(--half-padding) var(--padding);
  user-select: none;
}
.sectionTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  padding-left: 10px;
  text-transform: capitalize;
  user-select: none;
  vertical-align: 5px;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 10px 20px;
  user-select: none;
}
h1 {
  padding-bottom: 5px;
}
h2 {
  background-color: var(--gray5);
  border-top: solid 1px var(--border-accent);
  border-bottom: solid 1px var(--border-accent);
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}
h3 {
  font-weight: 600;
}
.header {
  background-color: var(--gray5);
  padding-bottom: 10px;
}
.spacer5 {
  display: block;
  height: 5px;
}
.spacer10 {
  display: block;
  height: 10px;
}
.spacer25 {
  display: block;
  height: 25px;
}
.spacer50 {
  display: block;
  height: 50px;
}
.spacer100 {
  display: block;
  height: 100px;
}
.spacerTop {
  display: block;
  height: calc(var(--topbar-height) + var(--tabbar-height));
}
.left {
  left: var(--padding);
}
.right {
  right: var(--padding);
}
.top {
  top: var(--padding);
}
.bottom {
  bottom: var(--padding);
}
.fullHeight {
  height: 100vh;
  overflow-y: hidden;
}
.fullWidth {
  width: 100%;
  overflow-x: hidden;
}
.sampleContainer {
  margin: -5px;
}
.sample {
  display: inline-block;
  background-color: var(--orange);
  width: 70px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--border-accent);
}
.negative {
  background-color: var(--red);
}
.positive {
  background-color: var(--green);
}

.scopeWrapper {
  background-color: var(--system-background);
  border-radius: 5px;
}
.scopeSingle {
  height: 200px;
}
.scopeDouble {
  height: 440px;
}

.debug {
  display: inline-block;
  position: absolute;
  background-color: rgba(14, 0, 92, 0.8);
  bottom: 0;
  width: 100%;
  height: 30px !important;
  color: white;
  line-height: 30px;
  vertical-align: middle;
}

.healthContainer,
.controlContainer {
  display: block;
  overflow: auto;
  user-select: none;
}
.ledIndicator,
.labelIndicator {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--indicator-height);
  font-weight: 500;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  position: absolute;
  font-size: var(--font-size);
  line-height: var(--font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ledIndicator .purple {
  background-color: var(--purple);
}
.ledIndicator .blue {
  background-color: var(--blue);
}
.ledIndicator .normal {
  background-color: var(--green);
}
.ledIndicator .ready {
  background-color: var(--yellow);
}
.ledIndicator .alert {
  background-color: var(--red);
}
.ledIndicator .old {
  background-color: var(--gray2);
}
.labelIndicator .purple {
  color: var(--purple);
}
.labelIndicator .blue {
  color: var(--purple);
}
.labelIndicator .normal {
  color: var(--green);
}
.labelIndicator .ready {
  color: var(--orange);
}
.labelIndicator .alert {
  color: var(--red);
}
.labelIndicator .old {
  color: var(--gray1);
}

.canvasStats {
  position: absolute !important;
}

.darkBackground {
  backdrop-filter: blur(4px);
  background: linear-gradient(180deg, black 50%, rgba(0, 0, 0, 0.85));
  -webkit-backdrop-filter: blur(4px);
}
.lightBackground {
  backdrop-filter: blur(4px);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.6)
  );
  -webkit-backdrop-filter: blur(4px);
}

#loading {
  color: white;
  fill: white;
  height: 100vh;
  position: absolute;
  text-align: center;
  top: 25vh;
  transition: opacity 0.5s;
  width: 100vw;
}
#backdrop {
  background: var(--background-gradient);
  background-color: var(--background-color);
  height: 100vh;
}
#app {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  transition: opacity 0.5s;
  width: 100vw;
  z-index: 0;
}
#topbar {
  backdrop-filter: blur(4px);
  background: var(--background-color);
  color: white;
  display: block;
  height: var(--topbar-height);
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(4px);
  z-index: 69;
  opacity: 0.5;
}
.topbarComponent {
  align-items: center;
  display: flex;
  position: absolute;
  height: var(--topbar-height);
}

#tabbar,
#navbar {
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  z-index: 42;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(3px);
}
#tabbar {
  top: var(--topbar-height);
  background-color: var(--background-secondary);
}
#navbar {
  bottom: 0;
  padding-bottom: 28px;
  border-top: var(--ui-border);
  background-color: var(--overlay-background);
}

.statusWrapper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  position: relative;
}
#statusLed {
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
}
.always {
  background-color: white;
}
.scan,
.online {
  background-color: var(--green);
}
.unknown,
.ready {
  background-color: var(--orange);
}
#radarName {
  display: inline-block;
  padding-left: 10px;
}
#versionTag {
  bottom: 5vh;
  position: fixed;
  text-align: center;
  width: 100%;
}
#statusBody {
  display: inline-block;
  padding-left: 10px;
  white-space: nowrap;
}
#statusBody {
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 28px;
  margin-left: 10px;
  padding: 0 10px;
  text-align: middle;
  border-radius: 5px;
}
#console {
  display: block;
  position: absolute;
  top: 20px;
  right: var(--padding);
}
#notification {
  background-color: var(--overlay-background);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: solid 1px var(--border-accent);
  border-radius: 5px;
  color: var(--system-foreground);
  font-size: 16px;
  left: 50%;
  line-height: 24px;
  min-height: 50px;
  min-width: 260px;
  position: fixed;
  text-align: center;
  top: 10px;
  transform: translate(-50%, 0);
  vertical-align: middle;
  z-index: 10;
}
.emotion {
  font-size: 64px;
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
}

#test {
  background-color: #aba24248;
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 256px;
}

.hoursContainer {
  background-color: var(--system-background);
  display: block;
  overflow-y: scroll;
}

.floatText {
  display: block;
  position: absolute;
  text-shadow: -1px 1px 0 var(--map-background), 1px 1px 0 var(--map-background),
    1px -1px 0 var(--map-background), -1px -1px 0 var(--map-background),
    0 0 10px var(--map-background), 0 0 10px var(--map-background),
    0 0 10px var(--map-background);
  user-select: none;
}

#caption {
  color: var(--mint);
}

#ageString {
  bottom: 50px;
  color: var(--green);
  font-size: 20px;
  font-weight: 500;
  left: 30px;
}

#infoString {
  bottom: 90px;
  color: var(--brown);
  font-size: 14px;
  font-weight: 400;
  left: 30px;
  line-height: 20px;
  white-space: pre-line;
}

#title {
  color: var(--system-foreground);
  font-size: 32px;
  font-weight: 500;
  text-align: right;
  bottom: 50px;
  right: 50px;
}

.buttonContainer {
  background-color: transparent;
  border-radius: var(--button-border-radius);
  border-top: var(--button-border-top);
  border-right: var(--button-border-right);
  border-bottom: var(--button-border-bottom);
  border-left: var(--button-border-left);
  cursor: pointer;
  color: var(--system-foreground);
  display: inline-flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: var(--button-margin-bottom);
  text-align: center;
  user-select: none;
  width: 100%;
}

.buttonValue {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

a.radarButton {
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 24pt;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color linear 0.3s;
}

a.radarButton:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color linear 0.17s;
}

.link {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: inherit;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color linear 0.3s;
}
.link:hover {
  background-color: var(--hover-overlay);
  transition: background-color linear 0.17s;
}

.subtle {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.darken {
  background-color: rgba(0, 0, 0, 0.15);
  color: var(--system-foreground);
}

.signinButton {
  color: var(--system-foreground);
  background-color: var(--system-background);
  border: var(--ui-border);
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  line-height: 24px;
  margin: 10px;
  padding: 8px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color linear 0.2s;
  width: 200px;
}

.signinButton:hover {
  background-color: var(--hover-overlay);
  transition: background-color linear 0.1s;
}

.signinButton::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  top: 0;
  left: 5px;
  position: absolute;
}

.signinButtonGoogle::before {
  background-image: url(/static/images/logo-google.svg);
}

.signinButtonApple::before {
  background-image: url(/static/images/logo-apple.svg);
}

.signinButtonFacebook::before {
  background-image: url(/static/images/logo-facebook.svg);
}

.logo50 {
  height: 50px;
}
.logo100 {
  height: 100px;
}
.logo {
  height: 15vh;
  fill: #ddff00;
  stroke: #ddff00;
}
.square15 {
  height: 15vh;
  width: 15vh;
}

.wiggle {
  animation: wiggle 0.2s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.spin {
  animation: spin 12s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backspin {
  animation: backspin 24s linear infinite;
}
@keyframes backspin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.breathe {
  animation: breathe 4s linear infinite;
}
@keyframes breathe {
  15% {
    opacity: 1;
    scale: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 1;
    scale: 1;
  }
}

.title {
  color: var(--gray1);
  font-size: 32px;
  line-height: 40px;
  margin: 20px auto;
  text-align: center;
  user-select: none;
}

table.keyTask {
  border: solid 1px var(--gray4);
  line-height: 1.8em;
  margin: 0 auto;
  width: 90%;
}
table.keyTask tr {
  width: 100%;
}
table.keyTask th:first-child {
  padding: 0.4em 2em;
}
table.keyTask td:last-child {
  text-align: left;
  padding: 0.4em 2em;
}
table.keyTask tr:nth-child(2n + 1) {
  background-color: var(--gray6);
}
div.key {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  border: solid 1px var(--gray2);
  padding: 0 10px;
  border-radius: 4px;
}

.scrollable {
  overflow-y: scroll;
}
