/*
General style sheet
Copyright Boonleng Cheong
*/

/* Some common colors */
:root {
  --padding: 20px;
  --base-size: 14;
  --topbar-background: rgb(5, 111, 146);
  box-sizing: border-box;
}

/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */
@media (prefers-color-scheme: light) {
  /* Light mode */
  :root {
    --ui-border: solid 1px rgba(0, 0, 0, 0.25);
    --border-accent: rgba(0, 0, 0, 0.25);
    --blue: rgb(0, 122, 255);
    --brown: rgb(162, 132, 94);
    --cyan: rgb(50, 173, 230);
    --green: rgb(52, 199, 89);
    --indigo: rgb(88 86, 214);
    --mint: rgb(0, 199, 190);
    --orange: rgb(255, 149, 0);
    --pink: rgb(255, 45, 85);
    --purple: rgb(175, 82, 222);
    --red: rgb(255, 59, 48);
    --teal: rgb(48, 176, 199);
    --yellow: rgb(255, 204, 0);
    --gray: rgb(128, 128, 128);
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(174, 174, 178);
    --gray3: rgb(199, 199, 204);
    --gray4: rgb(209, 209, 214);
    --gray5: rgb(229, 229, 234);
    --gray6: rgb(242, 242, 247);
    --gray7: rgb(252, 252, 255);
    --system-foreground: #000000;
    --system-background: #ffffff;
    --secondary-system-background: #f2f2f7ff;
    --tertiary-system-background: #ffffffff;
    --overlay-background: #ffffffe8;
    --button-hover: rgba(0, 0, 16, 0.06);
    --map-background: #f9f5ed;
    --background-gradient: linear-gradient(180deg, #056f92 60%, #16222a);
  }
}
@media (prefers-color-scheme: dark) {
  /* Dark mode */
  :root {
    --ui-border: solid 1px rgba(255, 255, 255, 0.15);
    --border-accent: rgba(255, 255, 255, 0.25);
    --blue: rgb(10, 132, 255);
    --brown: rgb(172, 142, 104);
    --cyan: rgb(100, 210, 255);
    --green: rgb(48, 209, 88);
    --indigo: rgb(94, 92, 230);
    --mint: rgb(102, 212, 207);
    --orange: rgb(255, 159, 10);
    --pink: rgb(255, 55, 95);
    --purple: rgb(191, 90, 242);
    --red: rgb(255, 69, 58);
    --teal: rgb(64, 200, 224);
    --yellow: rgb(255, 214, 10);
    --gray: rgb(128, 128, 128);
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);
    --gray7: rgb(16, 16, 18);
    --system-foreground: #ffffff;
    --system-background: #222328;
    --secondary-system-background: #1c1c1eff;
    --tertiary-system-background: #2c2c2eff;
    --overlay-background: #1e1e1ee8;
    --button-hover: rgba(248, 248, 255, 0.15);
    --map-background: #22252a;
    --background-gradient: linear-gradient(180deg, #056f92 60%, #16222a);
  }
}

@font-face {
  font-family: "LabelFont";
  font-style: normal;
  src: url("../blob/helveticaneue/HelveticaNeueMed.ttf") format("truetype");
}

body,
html {
  /* System Fonts as used by GitHub */
  background-color: var(--system-background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
}

body {
  color: var(--system-foreground);
  margin: 0;
}

canvas {
  display: block;
  position: relative;
  font-family: "LabelFont";
}

.backgrad {
  background: #5c258d;
  background: var(--background-gradient);
  box-sizing: border-box;
  color: white;
  height: 100vh;
  padding-top: 20vh;
  text-align: center;
  width: 100%;
}
.extraLarge {
  font-size: 100px;
}
.subtitle {
  font-size: 24px;
}
.fill {
  width: 100%;
  height: 100%;
  position: relative;
}
.center {
  text-align: center;
}
.leftPadded {
  padding-left: 20px;
}
.invisible {
  display: none !important;
}
.roundCorder {
  border-radius: 5px;
}
.fadeIn {
  opacity: 1;
  transition: opacity linear 0.12s;
}
.fadeOut {
  opacity: 0;
  transition: opacity linear 0.3s;
}
.sectionHeader {
  background-color: var(--gray6);
  height: 24px;
  padding: 10px 20px;
  user-select: none;
}
.sectionTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  padding-left: 10px;
  text-transform: capitalize;
  user-select: none;
  vertical-align: 5px;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 10px 20px;
  user-select: none;
}
h1 {
  padding-bottom: 5px;
}
h2 {
  background-color: var(--gray5);
  border-top: solid 1px var(--border-accent);
  border-bottom: solid 1px var(--border-accent);
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}
h3 {
  font-weight: 600;
}
.header {
  background-color: var(--gray5);
  padding-bottom: 10px;
}
.spacer5 {
  display: block;
  height: 5px;
}
.spacer10 {
  display: block;
  height: 10px;
}
.spacer25 {
  display: block;
  height: 25px;
}

.sampleContainer {
  margin: -5px;
}
.sample {
  display: inline-block;
  background-color: var(--orange);
  width: 70px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--border-accent);
}
.negative {
  background-color: var(--red);
}
.positive {
  background-color: var(--green);
}

.scopeWrapper {
  background-color: var(--system-background);
  border-radius: 5px;
}
.scopeSingle {
  height: 200px;
}
.scopeDouble {
  height: 440px;
}

.debug {
  display: inline-block;
  position: absolute;
  background-color: rgba(14, 0, 92, 0.8);
  bottom: 0;
  width: 100%;
  height: 30px !important;
  color: white;
  line-height: 30px;
  vertical-align: middle;
}

.healthContainer,
.controlContainer {
  display: block;
  overflow: auto;
  user-select: none;
}
.ledIndicator,
.labelIndicator {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--indicator-height);
  font-weight: 500;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  position: absolute;
  font-size: var(--font-size);
  line-height: var(--font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ledIndicator .purple {
  background-color: var(--purple);
}
.ledIndicator .blue {
  background-color: var(--blue);
}
.ledIndicator .normal {
  background-color: var(--green);
}
.ledIndicator .ready {
  background-color: var(--yellow);
}
.ledIndicator .alert {
  background-color: var(--red);
}
.ledIndicator .old {
  background-color: var(--gray2);
}
.labelIndicator .purple {
  color: var(--purple);
}
.labelIndicator .blue {
  color: var(--purple);
}
.labelIndicator .normal {
  color: var(--green);
}
.labelIndicator .ready {
  color: var(--orange);
}
.labelIndicator .alert {
  color: var(--red);
}
.labelIndicator .old {
  color: var(--gray1);
}

.canvasStats {
  position: absolute !important;
}

#topbar {
  display: block;
  width: 100%;
  color: white;
  padding-bottom: 5px;
  overflow-y: auto;
  background-color: var(--topbar-background);
}
#statusPrefix,
#statusBody {
  display: inline-block;
  height: 26px;
  font-size: 0.9em;
  line-height: 26px;
  padding-left: var(--padding);
  vertical-align: middle;
}
#statusBody {
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 10px;
  padding: 0 10px;
  text-align: middle;
  border-radius: 5px;
}
#console {
  display: block;
  position: absolute;
  top: 20px;
  right: var(--padding);
}
#notification {
  background-color: var(--overlay-background);
  border: solid 1px var(--border-accent);
  border-radius: 5px;
  color: var(--system-foreground);
  font-size: 16px;
  left: 50%;
  line-height: 24px;
  min-height: 50px;
  min-width: 260px;
  position: fixed;
  text-align: center;
  top: 10px;
  transform: translate(-50%, 0);
  vertical-align: middle;
  z-index: 10;
}
.emotion {
  font-size: 64px;
  display: block;
  position: absolute;
  top: 10px;
  right: 5px;
}

.fullHeight {
  height: calc(100vh - 84px - 44px - 1px);
  position: relative;
}

#test {
  background-color: #aba24248;
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 256px;
}

.hoursContainer {
  background-color: var(--system-background);
  display: block;
  overflow-y: scroll;
}

.floatText {
  display: block;
  position: absolute;
  text-shadow: -1px 1px 0 var(--map-background), 1px 1px 0 var(--map-background),
    1px -1px 0 var(--map-background), -1px -1px 0 var(--map-background),
    0 0 10px var(--map-background), 0 0 10px var(--map-background),
    0 0 10px var(--map-background);
  user-select: none;
}

#caption {
  color: var(--mint);
}

#ageString {
  bottom: 50px;
  color: var(--green);
  font-size: 20px;
  font-weight: 500;
  left: 30px;
}

#infoString {
  bottom: 90px;
  color: var(--brown);
  font-size: 14px;
  font-weight: 400;
  left: 30px;
  line-height: 20px;
  white-space: pre-line;
}

#title {
  color: var(--system-foreground);
  font-size: 32px;
  font-weight: 500;
  text-align: right;
  bottom: 50px;
  right: 50px;
}

.buttonContainer {
  background-color: transparent;
  border-radius: var(--button-border-radius);
  border-top: var(--button-border-top);
  border-right: var(--button-border-right);
  border-bottom: var(--button-border-bottom);
  border-left: var(--button-border-left);
  cursor: pointer;
  color: var(--system-foreground);
  display: inline-flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: var(--button-margin-bottom);
  text-align: center;
  user-select: none;
  width: 100%;
}

.buttonValue {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

#statusLed {
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: var(--font-size);
  height: 10px;
  line-height: var(--font-size);
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10px;
}

.online {
  background-color: var(--green);
}

.offline {
  background-color: var(--orange);
}

a.radarButton {
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 24pt;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color linear 0.3s;
}

a.radarButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color linear 0.3s;
}
