/*
General style sheet
Copyright Boonleng Cheong
*/

/* Some common colors */
:root {
  --padding: 20px;
  --half-padding: 10px;
  --base-size: 14;
  --background-color: hsl(194, 100%, 29%);
  --background-color-translucent: hsla(194, 100%, 29%, 0.9);
  --background-color-secondary: hsla(194, 100%, 5%, 0.85);
  --topbar-height: 56px;
  --tabbar-height: 48px;
  --calendar-height: 56px;
  --navbar-button-height: 56px;
  --navbar-padding-bottom: 28px;
  --secbar-padding: 8px;
  --subheader-padding: 4px;
  --small-button-height: 32px;
  --button-border-radius: 4px;
  --dev-background-gradient: linear-gradient(180deg, #047267 67%, #162a28);
  --header-gradient: linear-gradient(180deg, var(--background-color), var(--gray6) 60%);
  --footer-gradient: linear-gradient(180deg, var(--gray6) 40%, var(--background-color));
  box-sizing: border-box;
}

[theme="light"] {
  --blue: rgb(0, 122, 255);
  --brown: rgb(162, 132, 94);
  --cyan: rgb(50, 173, 230);
  --green: rgb(52, 199, 89);
  --indigo: rgb(88 86, 214);
  --mint: rgb(0, 199, 190);
  --orange: rgb(255, 149, 0);
  --pink: rgb(255, 45, 85);
  --purple: rgb(175, 82, 222);
  --red: rgb(255, 59, 48);
  --teal: rgb(48, 176, 199);
  --yellow: rgb(255, 204, 0);
  --gray: rgb(128, 128, 128);
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);
  --gray7: rgb(252, 252, 255);
  --gray1-translucent: rgba(142, 142, 147, 0.9);
  --gray2-translucent: rgba(174, 174, 178, 0.9);
  --gray3-translucent: rgba(199, 199, 204, 0.9);
  --gray4-translucent: rgba(209, 209, 214, 0.9);
  --gray5-translucent: rgba(229, 229, 234, 0.9);
  --gray6-translucent: rgba(242, 242, 247, 0.9);
  --gray7-translucent: rgba(252, 252, 255, 0.9);
  --system-foreground: #000000;
  --system-background: #ffffff;
  --secondary-system-background: #f2f2f7ff;
  --tertiary-system-background: #ffffffff;
  --overlay-background: #ffffffd8;
  --ui-border: solid 0.5px rgba(0, 0, 0, 0.25);
  --border-accent: rgba(0, 0, 0, 0.25);
  --hover-overlay: rgba(0, 0, 0, 0.1);
  --button-hover: rgba(0, 0, 16, 0.06);
  --map-background: #f9f5ed;
  --menu-background: rgba(249, 245, 237, 0.8);
  --colorbar-background: rgba(249, 245, 237, 0.7);
  --background-gradient: linear-gradient(0, var(--background-color-translucent) 15%, var(--background-color) 75%);
  --background-image: linear-gradient(transparent 69%, hsl(194, 100%, 35%));
  --subtle-text: rgba(0, 0, 0, 0.6);
}

[theme="dark"] {
  --blue: rgb(10, 132, 255);
  --brown: rgb(172, 142, 104);
  --cyan: rgb(100, 210, 255);
  --green: rgb(48, 209, 88);
  --indigo: rgb(94, 92, 230);
  --mint: rgb(102, 212, 207);
  --orange: rgb(255, 159, 10);
  --pink: rgb(255, 55, 95);
  --purple: rgb(191, 90, 242);
  --red: rgb(255, 69, 58);
  --teal: rgb(64, 200, 224);
  --yellow: rgb(255, 214, 10);
  --gray: rgb(128, 128, 128);
  --gray1: rgb(142, 142, 147);
  --gray2: rgb(99, 99, 102);
  --gray3: rgb(72, 72, 74);
  --gray4: rgb(58, 58, 60);
  --gray5: rgb(44, 44, 46);
  --gray6: rgb(28, 28, 30);
  --gray7: rgb(16, 16, 18);
  --gray1-translucent: rgba(142, 142, 147, 0.85);
  --gray2-translucent: rgba(99, 99, 102, 0.85);
  --gray3-translucent: rgba(72, 72, 74, 0.85);
  --gray4-translucent: rgba(58, 58, 60, 0.85);
  --gray5-translucent: rgba(44, 44, 46, 0.85);
  --gray6-translucent: rgba(28, 28, 30, 0.85);
  --gray7-translucent: rgba(16, 16, 18, 0.85);
  --system-foreground: #ffffff;
  --system-background: #222328;
  --secondary-system-background: #1c1c1eff;
  --tertiary-system-background: #2c2c2eff;
  --overlay-background: #1e1e1ee8;
  --ui-border: solid 0.5px rgba(255, 255, 255, 0.15);
  --border-accent: rgba(255, 255, 255, 0.25);
  --hover-overlay: rgba(255, 255, 255, 0.15);
  --button-hover: rgba(248, 248, 255, 0.15);
  --map-background: #22252a;
  --menu-background: rgba(34, 37, 42, 0.8);
  --colorbar-background: rgba(34, 37, 42, 0.7);
  --background-gradient: linear-gradient(0, var(--background-color-translucent) 15%, var(--background-color) 75%);
  --background-image: linear-gradient(transparent 69%, hsl(194, 100%, 20%));
  --subtle-text: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: LabelFont;
  font-style: normal;
  src: url(/static/fonts/HelveticaNeueMed.ttf) format("truetype");
}

@font-face {
  font-family: TextFont;
  font-style: normal;
  src: url(/static/fonts/HelveticaNeueLt.ttf) format("truetype");
}

body,
html {
  margin: 0;
}

html {
  background-color: var(--background-color);
  font-family: -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  color: var(--system-foreground);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  font-family: LabelFont, Helvetica, Arial;
  position: relative;
}

.fill {
  height: 100%;
  position: relative;
  width: 100%;
}
.fog {
  background-color: var(--gray6-translucent);
}
.paper {
  background-color: var(--system-background);
}
.backgrad {
  background: var(--background-gradient);
}
.blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.content {
  color: white;
  position: absolute;
  text-align: center;
  top: 25vh;
  width: 100%;
}
.sheet {
  background-color: var(--system-background);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  color: var(--system-foreground);
  margin: 20vh auto 0 auto;
  max-height: 60vh;
  max-width: 100%;
  overflow-y: scroll;
  text-align: center;
  width: 900px;
}
.sheetContent {
  padding-left: 80px;
  padding-right: 80px;
}
.subtitle {
  font-size: 1.5em;
  line-height: 1.8em;
}
.message {
  font-family: "Helvetica Neue", Helvetica, Arial, LabelFont;
  font-size: 22pt;
  font-weight: 200;
  margin: 20px auto;
  line-height: 32pt;
  padding: 0 50px;
}
.w100 {
  font-weight: 100;
}
.w200 {
  font-weight: 200;
}
.w300 {
  font-weight: 300;
}
.w400 {
  font-weight: 400;
}
.w500 {
  font-weight: 500;
}
.w600 {
  font-weight: 600;
}
.w700 {
  font-weight: 700;
}
.w800 {
  font-weight: 800;
}
.w900 {
  font-weight: 900;
}
.disabled {
  color: var(--gray);
}
.container {
  position: relative;
  z-index: 1;
}
.flexRow {
  display: flex;
  flex-direction: row;
  background-color: var(--gray6);
  overflow-y: hidden;
}
.flexCenter {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hide {
  opacity: 0;
}
.center {
  text-align: center;
}
.leftPadded {
  padding-left: var(--padding);
}
.invisible {
  display: none !important;
}
.roundCorder {
  border-radius: var(--button-border-radius);
}
.fadeIn {
  opacity: 1;
  z-index: 69;
  transition: opacity linear 0.12s;
}
.fadeOut {
  opacity: 0;
  z-index: 0;
  transition: opacity linear 0.3s, z-index linear 0.01s 0.3s;
}

.extraLarge {
  font-size: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media screen and (min-width: 640px) {
  .extraLarge {
    font-size: 100px;
  }
  .message {
    font-size: 24pt;
    line-height: 34pt;
  }
}
h1,
h2,
h3 {
  margin: 0;
  padding: 10px 20px;
  user-select: none;
}
h1 {
  padding-bottom: 5px;
}
h2 {
  background-color: var(--gray5);
  border-top: solid 1px var(--border-accent);
  border-bottom: solid 1px var(--border-accent);
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}
h3 {
  font-weight: 600;
}
.header {
  background-color: var(--gray5);
  padding-bottom: 10px;
}
.spacer5 {
  display: block;
  height: 5px;
}
.spacer10 {
  display: block;
  height: 10px;
}
.spacer25 {
  display: block;
  height: 25px;
}
.spacer50 {
  display: block;
  height: 50px;
}
.spacer100 {
  display: block;
  height: 100px;
}
.spacerTop {
  display: block;
  height: var(--topbar-height);
}
.left {
  left: var(--padding);
}
.right {
  right: var(--padding);
}
.center {
  left: 50%;
  margin-left: -50%;
}
.top {
  top: var(--padding);
}
.bottom {
  bottom: var(--padding);
}
.deviceHeight {
  height: 100vh;
  overflow-y: hidden;
}
.deviceWidth {
  width: 100vw;
  overflow-x: hidden;
}
.fullHeight {
  height: 100%;
  overflow-y: hidden;
}
.fullWidth {
  width: 100%;
  overflow-x: hidden;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline;
}
.padded {
  padding: var(--padding);
}

/* App */
.sectionHeader {
  background-color: var(--gray6);
  height: 24px;
  padding: var(--half-padding) var(--padding);
  user-select: none;
}
.sectionTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  padding-left: 10px;
  text-transform: capitalize;
  user-select: none;
  vertical-align: 5px;
}

.sampleContainer {
  margin: -5px;
}
.sample {
  display: inline-block;
  background-color: var(--orange);
  width: 70px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--border-accent);
}
.negative {
  background-color: var(--red);
}
.positive {
  background-color: var(--green);
}

.scopeWrapper {
  background-color: var(--system-background);
  border-radius: var(--button-border-radius);
}
.scopeSingle {
  height: 200px;
}
.scopeDouble {
  height: 440px;
}

.debug {
  display: inline-block;
  position: absolute;
  background-color: rgba(14, 0, 92, 0.8);
  bottom: 0;
  width: 100%;
  height: 30px !important;
  color: white;
  line-height: 30px;
  vertical-align: middle;
}

.healthContainer,
.controlContainer {
  display: block;
  overflow: auto;
  user-select: none;
}
.ledIndicator,
.labelIndicator {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--indicator-height);
  font-weight: 500;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  position: absolute;
  font-size: var(--font-size);
  line-height: var(--font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ledIndicator .purple {
  background-color: var(--purple);
}
.ledIndicator .blue {
  background-color: var(--blue);
}
.ledIndicator .normal {
  background-color: var(--green);
}
.ledIndicator .ready {
  background-color: var(--yellow);
}
.ledIndicator .alert {
  background-color: var(--red);
}
.ledIndicator .old {
  background-color: var(--gray2);
}
.labelIndicator .purple {
  color: var(--purple);
}
.labelIndicator .blue {
  color: var(--purple);
}
.labelIndicator .normal {
  color: var(--green);
}
.labelIndicator .ready {
  color: var(--orange);
}
.labelIndicator .alert {
  color: var(--red);
}
.labelIndicator .old {
  color: var(--gray1);
}

.canvasStats {
  position: absolute !important;
}

.darkBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.85), black 50%);
}
.lightBackground {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8) 50%);
}

.notification {
  background-color: var(--overlay-background);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  vertical-align: middle;
}

#nora,
#appMessage,
#ingestResponse {
  border: solid 1px var(--border-accent);
  color: var(--system-foreground);
  font-size: 16px;
  left: 50%;
  line-height: 24px;
  padding: 24px 40px;
  position: fixed;
  text-align: center;
  top: 10px;
  transform: translate(-50%, 0);
}

.emotion {
  font-size: 64px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
.floatText {
  position: absolute;
  font-family: LabelFont;
  paint-order: stroke fill;
  stroke: var(--map-background);
  stroke-width: 3.5px;
  user-select: none;
}
.floatMenu {
  color: var(--gray);
  background-color: var(--menu-background);
  display: block;
  font-size: 0.8em;
  line-height: 1.2em;
  position: fixed;
  z-index: 2;
}
.scrollable {
  overflow-y: scroll;
}
#main {
  background-color: var(--background-color);
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  transition: opacity 0.4s;
  z-index: 0;
}
#splash {
  background-color: var(--background-color);
  height: 100vh;
  position: absolute;
  text-align: center;
  padding-top: 30vh;
  transition: opacity 0.4s;
  width: 100vw;
  z-index: 100;
}
#splashLogo {
  height: 72px;
}
@media screen and (min-width: 640px) {
  #splashLogo {
    height: 128px;
  }
}
#backdrop {
  background-image: var(--background-image);
  background-color: var(--background-color);
  height: 100vh;
  transition: opacity 0.4s;
}
#versionTag {
  bottom: 5vh;
  position: fixed;
  text-align: center;
  width: 100%;
}
#topbar {
  background: var(--background-gradient);
  display: block;
  height: var(--topbar-height);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 42;
}
.topbarComponent {
  align-items: center;
  display: flex;
  position: absolute;
  height: var(--topbar-height);
}

#splash,
#topbar,
#versionTag {
  color: white;
  fill: white;
}
#tabbar,
#navbar {
  position: fixed;
  width: 100%;
  z-index: 42;
}
#tabbar {
  top: var(--topbar-height);
  background-color: var(--background-color-secondary);
}
#navbar {
  bottom: 0;
  padding-bottom: var(--navbar-padding-bottom);
  border-top: var(--ui-border);
  background-color: var(--overlay-background);
}
.sectionBar {
  padding-top: var(--secbar-padding);
  padding-bottom: var(--secbar-padding);
}
.subtleHeader {
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  position: relative;
  text-align: center;
  font-size: 13px;
  color: var(--subtle-text);
}

.statusWrapper {
  width: calc(100vw - 100px);
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  position: relative;
  user-select: none;
}
.statusLed {
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.floatRight {
  position: absolute;
  top: 0;
  right: var(--padding);
}
.always {
  background-color: rgb(52, 255, 89);
}
.scan,
.online {
  background-color: var(--green);
}
.unknown,
.offline,
.ready {
  background-color: var(--orange);
}
#radarName,
#statusBody {
  display: inline;
  padding: 0 10px;
}
#statusBody {
  background-color: hsla(193, 50%, 45%, 0.817);
}

#console {
  display: block;
  position: absolute;
  top: 20px;
  right: var(--padding);
}
#calendarContainer {
  text-align: center;
}

#hoursContainer {
  display: block;
  overflow-y: scroll;
}

#test {
  background-color: #aba24248;
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 256px;
}

#caption {
  fill: var(--mint);
}
#ageString {
  fill: var(--green);
  font-size: 20px;
  font-weight: 500;
}
#infoString {
  fill: var(--brown);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
#symbol {
  fill: var(--system-foreground);
}
#symbol text#symbol {
  font-size: 50px;
  font-weight: 500;
}
#symbol text#text {
  font-size: 14px;
  font-weight: 400;
}
#title {
  display: block;
  position: absolute;
  font-family: LabelFont;
  paint-order: stroke fill;
}
#title text {
  fill: var(--system-foreground);
  white-space: pre;
}
#colorbar {
  display: block;
  overflow: hidden;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

.buttonContainer {
  background-color: transparent;
  border-radius: var(--button-border-radius);
  border-top: var(--button-border-top);
  border-right: var(--button-border-right);
  border-bottom: var(--button-border-bottom);
  border-left: var(--button-border-left);
  cursor: pointer;
  color: var(--system-foreground);
  display: inline-flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: var(--button-margin-bottom);
  text-align: center;
  user-select: none;
  width: 100%;
}

.buttonValue {
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

a.radarButton {
  border-radius: var(--button-border-radius);
  color: white;
  display: inline-block;
  font-size: 24pt;
  margin: var(--half-padding);
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color linear 0.3s;
}

a.radarButton:hover {
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color linear 0.17s;
}

.link {
  border: none;
  border-radius: var(--button-border-radius);
  display: inline-block;
  font-size: inherit;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color linear 0.3s;
}
.link:hover {
  background-color: var(--hover-overlay);
  transition: background-color linear 0.17s;
}

.lite {
  margin-top: 0.5em;
  opacity: 0.5;
}
.subtle {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.darken {
  background-color: rgba(0, 0, 0, 0.15);
  color: var(--system-foreground);
}

.signinButton {
  color: var(--system-foreground);
  background-color: var(--system-background);
  border: var(--ui-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: inherit;
  line-height: 24px;
  margin: 10px;
  padding: 8px 20px;
  position: relative;
  text-decoration: none;
  transition: background-color linear 0.2s;
  width: 200px;
}

.signinButton:hover {
  background-color: var(--hover-overlay);
  transition: background-color linear 0.1s;
}

.signinButton::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  top: 0;
  left: 5px;
  position: absolute;
}

.signinButtonGoogle::before {
  background-image: url(/static/images/logo-google.svg);
}

.signinButtonApple::before {
  background-image: url(/static/images/logo-apple.svg);
}

.signinButtonFacebook::before {
  background-image: url(/static/images/logo-facebook.svg);
}

.logo32 {
  height: 32px;
}
.logo50 {
  height: 50px;
}
.logo100 {
  height: 100px;
}
.logo256 {
  height: 256px;
}
.logo {
  height: 15vh;
  fill: #ffdd00;
  stroke: #ffdd00;
}
.seal {
  height: 15vh;
  fill: hsl(48, 100%, 50%);
  stroke: white;
}
.glow {
  filter: drop-shadow(0 0 7px hsla(173, 100%, 50%, 0.7));
}
.square15 {
  height: 15vh;
  width: 15vh;
}

.wiggle {
  animation: wiggle 0.2s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.spin {
  animation: spin 12s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backspin {
  animation: backspin 24s linear infinite;
}
@keyframes backspin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.breathe {
  animation: breathe 4s linear infinite;
}
@keyframes breathe {
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
}

.beacon {
  animation: beacon 4s linear infinite;
}
@keyframes beacon {
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
}

.title {
  color: var(--gray1);
  font-size: 32px;
  line-height: 40px;
  margin: 20px auto;
  text-align: center;
  user-select: none;
}

table.keyTask {
  border: solid 1px var(--gray4);
  line-height: 1.8em;
  margin: 0 auto;
  width: 90%;
}
table.keyTask tr {
  width: 100%;
}
table.keyTask th:first-child {
  padding: 0.4em 2em;
}
table.keyTask td:last-child {
  text-align: left;
  padding: 0.4em 2em;
}
table.keyTask tr:nth-child(2n + 1) {
  background-color: var(--gray6);
}
div.key {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  border: solid 1px var(--gray2);
  padding: 0 10px;
  border-radius: var(--button-border-radius);
}

.dropbox {
  display: block;
  height: 100px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  background-color: var(--system-background);
  text-align: center;
  margin-top: calc(var(--topbar-height) + 100px);
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: var(--button-border-radius);
}

/* Browser */

#browserTop {
  border-bottom: var(--ui-border);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
#calendarContainer {
  height: var(--calendar-height);
  padding-top: calc(var(--topbar-height) + var(--padding));
  padding-bottom: var(--half-padding);
}
#hoursContainer {
  column-count: 6;
  padding-left: var(--half-padding);
  padding-right: var(--half-padding);
  padding-bottom: var(--padding);
}
#filesContainer {
  background-color: var(--system-background);
  overflow-y: scroll;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
}
#fileList {
  padding-top: calc(
    var(--topbar-height) + var(--padding) + var(--calendar-height) + var(--half-padding) + 4 *
      var(--small-button-height) + 1px
  );
  padding-bottom: calc(var(--navbar-button-height) + var(--navbar-padding-bottom) + 1px);
}

#filesViewport {
  background-color: var(--system-background);
  position: absolute;
  width: 100%;
  top: 0;
}
#filesViewportHeader {
  height: 1000px;
  background: var(--header-gradient);
  background-color: var(--gray6);
}
#filesViewportHeaderOld {
  height: calc(
    var(--topbar-height) + var(--padding) + var(--calendar-height) + var(--half-padding) + 3 *
      var(--small-button-height) + 35px
  );
  background-color: var(--gray6);
}
#filesViewportFooter {
  height: calc(var(--navbar-button-height) + var(--navbar-padding-bottom) + 1px);
  background-color: var(--gray6);
}
.filesViewportSpacer {
  height: 1000px;
  background: var(--footer-gradient);
  background-color: var(--gray5);
}

.panel {
  height: 100vh;
  position: absolute;
  background-color: var(--background-color);
}
.active {
  z-index: 1;
}
.inactive {
  z-index: 0;
}
