/*
Desktop style sheet
Copyright Boonleng Cheong
*/
:root {
  --button-height: 36px;
  --indicator-height: 25px;
  --font-size: calc(var(--indicator-height) * 0.6);
  --button-border-top: solid 1px var(--border-accent);
  --button-border-right: solid 1px var(--border-accent);
  --button-border-bottom: solid 1px var(--border-accent);
  --button-border-left: solid 1px var(--border-accent);
  --button-border-radius: 5px;
  --button-margin-bottom: 5px;
  --content-height: calc(100vh - var(--topbar-height));
}
.extraLarge {
  font-size: 100px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.controlContainer,
.healthContainer {
  background-color: var(--system-background);
  border-radius: 5px;
  padding: var(--padding);
  padding-bottom: calc(var(--padding) - var(--button-margin-bottom));
}

.controlContainer {
  columns: 7 220px;
}
.healthContainer {
  column-count: 2;
}
.indicatorContainer {
  display: inline-block;
  columns: 5 220px;
  overflow: auto;
}
.ledIndicator,
.labelIndicator {
  height: var(--indicator-height);
  margin-bottom: var(--button-margin-bottom);
  box-sizing: border-box;
  vertical-align: middle;
}
.ledTitle {
  top: calc(var(--indicator-height) * 0.2);
  left: var(--indicator-height);
  width: 90%;
}
.ledValue {
  display: block;
  top: calc(var(--indicator-height) * 0.25);
  width: calc(var(--indicator-height) * 0.5);
  height: calc(var(--indicator-height) * 0.5);
  font-weight: 500;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 2;
}
.labelTitle {
  top: calc(var(--indicator-height) * 0.2);
  right: calc(50% + var(--padding));
  width: calc(50% - var(--padding));
  font-weight: 500;
  text-align: right;
}
.labelValue {
  display: block;
  background-color: var(--gray7);
  top: 0;
  right: 0;
  width: 50%;
  height: var(--indicator-height);
  border-radius: 4px;
  border: 1px solid var(--border-accent);
  box-sizing: border-box;
  padding-top: calc(var(--indicator-height) * 0.2 - 1px);
  padding-left: calc(0.3 * var(--indicator-height));
  padding-right: calc(0.3 * var(--indicator-height));
  font-weight: 500;
}
.scopeSingle,
.scopeDouble {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
#notification {
  max-width: calc(100vw - 200px);
  padding: 8px 80px;
}

#right {
  display: flex;
  flex-direction: column;
  height: var(--content-height);
  margin-top: var(--topbar-height);
  overflow-y: scroll;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.split,
.gutter.gutter-horizontal {
  float: left;
  height: var(--content-height);
  z-index: 3;
}
.gutter {
  background-color: var(--gray6);
  transition: background-color 0.25s linear;
}
.gutter:hover {
  background-color: var(--gray3);
  transition: background-color 0.25s linear;
}
.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  width: 8px !important;
}

.calendarContainer {
  padding-top: var(--padding);
  padding-bottom: calc(0.5 * var(--padding));
}
.hoursContainer {
  column-count: 4;
}
.filesContainer {
  background-color: var(--system-background);
  height: calc(var(--content-height) - 44px - 86px - 192px - 44px);
  overflow-y: scroll;
}

#ageString {
  bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  left: 30px;
}
#infoString {
  bottom: 90px;
  left: 30px;
}
#title {
  font-size: 32px;
  font-weight: 500;
  text-align: right;
  bottom: 50px;
  right: 50px;
  stroke: var(--map-background);
  stroke-width: 6px;
  width: 80%;
  max-width: calc(100% - 200px);
}
#title text {
  text-anchor: end;
}
