/* 
Desktop style sheet
Copyright Boonleng Cheong
*/
:root {
  --button-height: 36px;
  --indicator-height: 25px;
  --font-size: calc(var(--indicator-height) * 0.6);
  --button-border-top: solid 1px var(--border-accent);
  --button-border-right: solid 1px var(--border-accent);
  --button-border-bottom: solid 1px var(--border-accent);
  --button-border-left: solid 1px var(--border-accent);
  --button-border-radius: 5px;
  --button-margin-bottom: 5px;
}
.controlContainer,
.healthContainer {
  padding: var(--padding);
  padding-bottom: calc(var(--padding) - var(--button-margin-bottom));
}
.controlContainer {
  columns: 7 220px;
}
.healthContainer {
  column-count: 2;
}
.indicatorContainer {
  display: inline-block;
  columns: 5 220px;
  overflow: auto;
}
.ledIndicator,
.labelIndicator {
  height: var(--indicator-height);
  margin-bottom: var(--button-margin-bottom);
  box-sizing: border-box;
  vertical-align: middle;
}
.ledTitle {
  top: calc(var(--indicator-height) * 0.2);
  left: var(--indicator-height);
  width: 90%;
}
.ledValue {
  display: block;
  top: calc(var(--indicator-height) * 0.25);
  width: calc(var(--indicator-height) * 0.5);
  height: calc(var(--indicator-height) * 0.5);
  font-weight: 500;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 102;
}
.labelTitle {
  top: calc(var(--indicator-height) * 0.2);
  right: calc(50% + var(--padding));
  width: calc(50% - var(--padding));
  font-weight: 500;
  text-align: right;
}
.labelValue {
  display: block;
  background-color: var(--gray7);
  top: 0;
  right: 0;
  width: 50%;
  height: var(--indicator-height);
  border-radius: 4px;
  border: 1px solid var(--border-accent);
  box-sizing: border-box;
  padding-top: calc(var(--indicator-height) * 0.2 - 1px);
  padding-left: calc(0.3 * var(--indicator-height));
  padding-right: calc(0.3 * var(--indicator-height));
  font-weight: 500;
}
.scopeSingle,
.scopeDouble {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
