/* 
General style sheet
Copyright Boonleng Cheong
*/
body,
html {
  /* System Fonts as used by GitHub */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Some common colors */
:root {
  --padding: 20px;
  --base-size: 14;
  --gradient-shifter: linear-gradient(to bottom, #bc4e9c 20%, #f80759 80%);
  box-sizing: border-box;
}

/* https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color/ */
@media (prefers-color-scheme: light) {
  /* Light mode */
  :root {
    --ui-border: solid 1px rgba(0, 0, 0, 0.25);
    --border-accent: rgba(0, 0, 0, 0.25);
    --blue: rgb(0, 122, 255);
    --brown: rgb(162, 132, 94);
    --cyan: rgb(50, 173, 230);
    --green: rgb(52, 199, 89);
    --indigo: rgb(88 86, 214);
    --mint: rgb(0, 199, 190);
    --orange: rgb(255, 149, 0);
    --pink: rgb(255, 45, 85);
    --purple: rgb(175, 82, 222);
    --red: rgb(255, 59, 48);
    --teal: rgb(48, 176, 199);
    --yellow: rgb(255, 204, 0);
    --gray: rgb(128, 128, 128);
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(174, 174, 178);
    --gray3: rgb(199, 199, 204);
    --gray4: rgb(209, 209, 214);
    --gray5: rgb(229, 229, 234);
    --gray6: rgb(242, 242, 247);
    --gray7: rgb(252, 252, 255);
    --system-foreground: #000000;
    --system-background: #ffffff;
    --secondary-system-background: #f2f2f7ff;
    --tertiary-system-background: #ffffffff;
    --gradient-aqua: linear-gradient(45deg, #02aab0 30%, #00cdac 90%);
  }
}
@media (prefers-color-scheme: dark) {
  /* Dark mode */
  :root {
    --ui-border: solid 1px rgba(255, 255, 255, 0.15);
    --border-accent: rgba(255, 255, 255, 0.3);
    --blue: rgb(10, 132, 255);
    --brown: rgb(172, 142, 104);
    --cyan: rgb(100, 210, 255);
    --green: rgb(48, 209, 88);
    --indigo: rgb(94, 92, 230);
    --mint: rgb(102, 212, 207);
    --orange: rgb(255, 159, 10);
    --pink: rgb(255, 55, 95);
    --purple: rgb(191, 90, 242);
    --red: rgb(255, 69, 58);
    --teal: rgb(64, 200, 224);
    --yellow: rgb(255, 214, 10);
    --gray: rgb(128, 128, 128);
    --gray1: rgb(142, 142, 147);
    --gray2: rgb(99, 99, 102);
    --gray3: rgb(72, 72, 74);
    --gray4: rgb(58, 58, 60);
    --gray5: rgb(44, 44, 46);
    --gray6: rgb(28, 28, 30);
    --gray7: rgb(16, 16, 18);
    --system-foreground: #ffffff;
    --system-background: #000000;
    --secondary-system-background: #1c1c1eff;
    --tertiary-system-background: #2c2c2eff;
    --gradient-aqua: linear-gradient(45deg, #13547a 30%, #80d0c7 90%);
  }
}

@font-face {
  font-family: "LabelFont";
  font-style: normal;
  src: url("../blob/helveticaneue/HelveticaNeueMed.ttf") format("truetype");
}

body {
  color: var(--system-foreground);
  background-color: var(--system-background);
  margin: 0;
}

canvas {
  display: block;
  position: relative;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  font-family: "LabelFont";
}

.fill {
  width: 100%;
  height: 100%;
  position: relative;
}
.leftPadded {
  padding-left: 20px;
}
.invisible {
  display: none;
}
.sectionHeader {
  background-color: var(--gray6);
  padding: 10px 20px;
  height: 24px;
}
.sectionTitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  height: 20px;
  padding-left: 10px;
  text-transform: capitalize;
  vertical-align: 5px;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 10px 20px;
}
h1 {
  padding-bottom: 5px;
}
h2 {
  background-color: var(--gray5);
  border-top: solid 1px var(--border-accent);
  border-bottom: solid 1px var(--border-accent);
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}
h3 {
  font-weight: 600;
}
.topbar {
  display: block;
  width: 100%;
  color: white;
  padding-bottom: 5px;
  overflow-y: auto;
  background: var(--gradient-aqua);
  border-bottom: solid 1px var(--border-accent);
}
.header {
  background-color: var(--gray5);
  padding-bottom: 10px;
}

.statusPrefix,
.statusBody {
  display: inline-block;
  height: 26px;
  font-size: 0.9em;
  line-height: 26px;
  padding-left: var(--padding);
  vertical-align: middle;
}
.statusBody {
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 10px;
  padding: 0 10px;
  text-align: middle;
  border-radius: 5px;
}

.sampleContainer {
  margin: -5px;
}
.sample {
  display: inline-block;
  background-color: var(--orange);
  width: 70px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border: solid 1px var(--border-accent);
}
.negative {
  background-color: var(--red);
}
.positive {
  background-color: var(--green);
}

.scopeSingle {
  height: 200px;
}
.scopeDouble {
  height: 440px;
}

.debug {
  display: inline-block;
  position: absolute;
  background-color: darkslateblue;
  bottom: 0;
  width: 100%;
  height: 30px !important;
  color: white;
  line-height: 30px;
  vertical-align: middle;
}

.healthContainer,
.controlContainer {
  display: block;
  overflow: auto;
}
.ledIndicator,
.labelIndicator {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--indicator-height);
  font-weight: 500;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  position: absolute;
  font-size: var(--font-size);
  line-height: var(--font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ledIndicator .normal {
  background-color: var(--green);
}
.ledIndicator .ready {
  background-color: var(--yellow);
}
.ledIndicator .alert {
  background-color: var(--red);
}
.ledIndicator .old {
  background-color: var(--gray2);
}
.labelIndicator .normal {
  color: var(--green);
}
.labelIndicator .ready {
  color: var(--orange);
}
.labelIndicator .alert {
  color: var(--red);
}
.labelIndicator .old {
  color: var(--gray1);
}

.canvasStats {
  position: absolute !important;
}

#upperRight {
  display: block;
  position: absolute;
  top: 20px;
  right: var(--padding);
}
