/*
Mobile style sheet
Copyright Boonleng Cheong
*/
:root {
  --button-height: 44px;
  --font-size: 18px;
  --button-border-top: none;
  --button-border-right: none;
  --button-border-bottom: solid 0.5px var(--border-accent);
  --button-border-left: none;
  --button-margin-bottom: 0;
  --button-border-radius: 4px;
  --padding: 20px;
  --content-height: calc(100vh - var(--topbar-height) - var(--tabbar-height));
  padding: 0;
}

[theme="light"] {
  /*
  --colorbar-background: linear-gradient(
    rgba(249, 245, 237, 0.9),
    rgba(249, 245, 237, 0.7)
  );
  */
  --colorbar-background: linear-gradient(
    rgba(242, 242, 247, 0.9),
    rgba(242, 242, 247, 0.7)
  );
}

[theme="dark"] {
  --colorbar-background: linear-gradient(
    rgba(34, 37, 42, 0.85),
    rgba(34, 37, 42, 0.65)
  );
}

.extraLarge {
  font-size: 60px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.controlContainer,
.healthContainer {
  display: block;
  height: 351px;
  overflow-y: scroll;
}
.indicatorContainer {
  display: block;
  position: relative;
  overflow: hidden;
}
.ledIndicator,
.labelIndicator {
  border-bottom: var(--button-border-bottom);
  box-sizing: border-box;
  height: var(--button-height);
  vertical-align: middle;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  top: calc((var(--button-height) - var(--font-size)) * 0.5);
}
.ledTitle {
  display: inline-block;
  left: var(--padding);
  width: 90%;
}
.ledValue {
  border-radius: 50%;
  display: block;
  height: var(--font-size);
  right: var(--padding);
  width: var(--font-size);
  z-index: 2;
}
.labelTitle {
  left: var(--padding);
  width: calc(50% - var(--padding));
  height: var(--button-height);
}
.labelValue {
  right: var(--padding);
  width: 50%;
  font-weight: 600;
  text-align: right;
}
.MuiButton-text:last-child,
.labelIndicator:last-child {
  border-bottom: none;
}

#notification {
  width: 88vw;
  padding: 8px;
}

#calendarContainer {
  height: var(--calendar-height);
  padding-top: calc(var(--topbar-height) + var(--padding));
  padding-bottom: var(--half-padding);
}
#hoursContainer {
  column-count: 8;
  padding-left: var(--half-padding);
  padding-right: var(--half-padding);
}
#filesContainer {
  background-color: var(--system-background);
  overflow-y: scroll;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
}
#fileList {
  padding-top: calc(
    var(--topbar-height) + var(--padding) + var(--calendar-height) +
      var(--half-padding) + 4 * var(--small-button-height) + 1px
  );
  padding-bottom: calc(
    var(--navbar-button-height) + var(--navbar-padding-bottom) + 1px
  );
}

#ageString {
  bottom: calc(
    var(--navbar-padding-bottom) + var(--button-height) + var(--padding) + 70px
  );
  left: var(--padding);
}
#infoString {
  bottom: calc(var(--navbar-padding-bottom) + var(--button-height) + 30px);
  left: var(--padding);
}
#title {
  font-size: 18px;
  text-align: center;
  top: calc(var(--topbar-height) + 3px);
  width: 100%;
  z-index: 2;
}
#title text {
  text-anchor: middle;
}
#colorbar {
  background: var(--colorbar-background);
  border-bottom: var(--ui-border);
}

.active {
  position: absolute;
  z-index: 2;
}
.inactive {
  position: absolute;
  z-index: 0;
}

#cake {
  border-bottom: var(--ui-border);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

#arrow {
  bottom: calc(var(--navbar-padding-bottom) + var(--button-height) + 40px);
  right: 30px;
}
