/* 
Mobile style sheet
Copyright Boonleng Cheong
*/
:root {
  --button-height: 44px;
  --font-size: calc(var(--button-height) * 0.45);
  --button-border-top: solid 1px var(--border-accent);
  --button-border-right: none;
  --button-border-bottom: none;
  --button-border-left: none;
  --button-margin-bottom: 0;
  padding: 0;
}
.healthContainer {
  display: block;
}
.indicatorContainer {
  display: block;
  position: relative;
  overflow: hidden;
}
.ledIndicator,
.labelIndicator {
  display: inline-block;
  position: relative;
  width: 100%;
  height: var(--button-height);
  padding: 0;
  vertical-align: middle;
  border-top: solid 1px var(--border-accent);
  box-sizing: border-box;
}
.ledTitle,
.ledValue,
.labelTitle,
.labelValue {
  position: absolute;
  top: calc(var(--button-height) * 0.275);
  font-size: var(--font-size);
  line-height: var(--font-size);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}
.ledTitle {
  display: inline-block;
  left: var(--padding);
  width: 90%;
}
.ledValue {
  display: block;
  right: var(--padding);
  width: var(--font-size);
  height: var(--font-size);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 102;
}
.labelTitle {
  left: var(--padding);
  width: calc(50% - var(--padding));
  height: var(--button-height);
}
.labelValue {
  right: var(--padding);
  width: 50%;
  font-weight: 600;
  text-align: right;
}
.MuiButton-text:last-child,
.labelIndicator:last-child {
  border-bottom: solid 1px var(--border-accent);
}
