# Folders
__pycache__
.ipynb_checkpoints
node_modules
database
build
stash
frontend/static/frontend
frontend/static/maps
frontend/dist
objects
others
*.xcodeproj

frontend/migrations/*.py
screenlog.*
*.a
*.mmdb

# Programs, etc.
.DS_Store
package-lock.json
dbip*
config/*
frontend/migrations/[0-9]*.py
reporter/simple
reporter/secret
reporter/data
reporter/dgen
webpack-*.json
