# Folders
__pycache__
.ipynb_checkpoints
node_modules
*.xcodeproj
objects
stash

database
frontend/migrations/[0-9]*.py
frontend/static/frontend
frontend/static/maps
frontend/static/media
screenlog.*
*.a

# Programs, etc.
.DS_Store
package-lock.json
config/*
reporter/simple
reporter/secret
reporter/data
reporter/dgen
webpack-*.json
