django
django-eventstream
django-auth-ldap
Twisted[tls,http2]
psycopg2
asgiref
channels==3.0.5
channels_redis
websocket_client
pyparsing
oauthlib
daphne
tqdm
numpy
netCDF4
maxminddb
django-allauth
django-webpack-loader
