{% load static %}
{% load socialaccount %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html theme="light">
  <head>
    <title>RadarHub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="rgb(5, 111, 146)" />
    <link rel="preload" href="{% static 'fonts/HelveticaNeueMed.ttf' %}" as="font" type="font/ttf" crossorigin />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/icon64.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icon114.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icon144.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 550px)" href="{% static 'css/desktop.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 550px)" href="{% static 'css/mobile.css' %}" />
    {{ params|json_script:"params" }}
    {% block extra_head %}{% endblock %}
  </head>
  <body class="backgrad hide">
    <div id="app"><div id="topbar"></div></div>
    {% block body %}{% endblock %}
  </body>
  {% block main_js %}{% endblock %}
  <script>
    window.addEventListener('load', () => {
      setTimeout(() => {document.body.classList.remove("hide")}, 300);
    })
  </script>
</html>
