{% extends "__base__.html" %}

{% load render_bundle from webpack_loader %}

{% block extra_head %}
{{ vars|json_script:"params" }}
{% endblock %}

{% block body %}
<div id="app"></div>
<div id="backdrop">
  <div class="content">
    <div class="extraLarge">RadarHub</div>
    <a class="radarButton" href="/archive/px1000/">PX-1000</a>
    <a class="radarButton" href="/archive/raxpol/">RaXPol</a>
    <div class="spacer50"></div>
    {% if user.is_authenticated %}
      <p>Signed in as {{ user.email }}</p>
      <form action="/accounts/signout/?next=/" method="post">
        {% csrf_token %}
        <button class="link subtle" type="submit">Sign Out</button>
      </form>
    {% else %}
      <p><a class="link subtle" href="/accounts/signin/">Sign In</a></p>
    {% endif %}
    <div id="versionTag">
      Version {{version}}{% if branch == "beta" %}b{% endif %}
      <div class="lite">
        ({{code}})
      </div>
    </div>
    {% if user.is_authenticated and user.is_staff %}
      <div class="spacer25"></div>
      <a class="link subtle" href="/dev/px1000/">Experiment #1</a>
      <div class="inline padded"></div>
      <a class="link subtle" href="/dev/demo/">Experiment #2</a>
      <div class="spacer25"></div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_html %}
{% render_bundle 'index' 'js' %}
{% endblock %}
