{% extends "frontend/__base__.html" %}

{% load render_bundle from webpack_loader %}

{% block body %}
  <div class="content">
    <div class="extraLarge">RadarHub</div>
    <a class="radarButton" href="/archive/px1000/">PX-1000</a>
    <a class="radarButton" href="/archive/raxpol/">RaXPol</a>
    <div class="spacer50"></div>
    {% if user.is_authenticated %}
      <p>Signed in as {{ user.email }}</p>
      <form action="/accounts/signout/?next=/" method="post">
        {% csrf_token %}
        <button class="subtle" type="submit">Sign Out</button>
      </form>
    {% else %}
      <p><a class="subtle" href="/accounts/signin/">Sign In</a></p>
    {% endif %}
  </div>
{% endblock %}

{% block main_js %}
{% render_bundle 'index' 'js' %}
{% endblock %}
