{% extends "frontend/base.html" %}

{% load static %}
{% load socialaccount %}

{% comment %} {% block extra_head %}{{ params|json_script:"params" }}{% endblock %} {% endcomment %}

{% block body %}
  <div class="backgrad">
    <div class="content">
      <div class="extraLarge">RadarHub</div>
      <a class="radarButton" href="/archive/px1000/">PX-1000</a>
      <a class="radarButton" href="/archive/raxpol/">RaXPol</a>
      {% if user.is_authenticated %}
        <p>Signed in as {{ user.email }}</p>
        <form action="/accounts/signout/?next=/dev/" method="post">
          {% csrf_token %}
          <button class="subtle" type="submit">Sign Out</button>
        </form>
      {% else %}
        <p><a class="subtle" href="/accounts/signin/">Sign In</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_html %}
<script type="text/javascript" src="{% static 'frontend/dev.js' %}"></script>
{% endblock %}
