{% extends "__view__.html" %}

{% block svg %}
<div class="square15" style="position:relative; margin: 0 auto">
  <div style="position:absolute">
    <svg class="logo spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
      <g stroke-width="6" fill="none">
        <circle cx="48" cy="48" r="25" />
        <circle cx="48" cy="84" r="9" />
        <circle cx="48" cy="84" r="9" transform="rotate(120,48,48)" />
        <circle cx="48" cy="84" r="9" transform="rotate(240,48,48)" />
      </g>
    </svg>
  </div>

  <div style="position:absolute">
    <svg class="logo breathe" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96">
      <g stroke-linecap="round" stroke-width="10">
        <path d="M48,5l0,15" />
        <path d="M48,5l0,15" transform="rotate(120,48,48)" />
        <path d="M48,5l0,15" transform="rotate(240,48,48)" />
      </g>
    </svg>
  </div>
</div>
{% endblock %}

{% block message %}
<div class="extraLarge">SVG</div>
<div class="message">
  Welcome to the RadarHub
</div>
{% endblock %}
