asgiref
blib-py
channels==3.0.5
channels_redis
daphne==3.0.2
django==4.2.16
django-allauth
django-auth-ldap
django-eventstream==4.5.1
django-webpack-loader
maxminddb
multiprocess
netCDF4
numpy
oauthlib
pyparsing
psycopg2-binary
radar-data
setproctitle
tqdm
Twisted[tls,http2]
websocket_client
